<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="cmake.runCMakeEntry"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="cmake.menu1"
               label="%menu.label">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="%action.label"
               class="org.eclipse.cdt.cmake.popup.actions.RunCMakeAction"
               menubarPath="cmake.menu1/group1"
               enablesFor="1"
               id="cmake.runCMakeAction">
         </action>
         <visibility>
            <objectState
                  name="projectNature"
                  value="org.eclipse.cdt.cmake.cmakeNature">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         id="cmakeBuildProperties"
         name="%extension.name"
         point="org.eclipse.cdt.managedbuilder.core.buildProperties">
      <propertyValue
            id="org.eclipse.cdt.cmake.buildArtefactType.cmake"
            name="%propertyValue.name"
            property="org.eclipse.cdt.build.core.buildArtefactType">
      </propertyValue>
      <propertyValue
            id="org.eclipse.cdt.cmake.buildType.default"
            name="%propertyValue.name.0"
            property="org.eclipse.cdt.build.core.buildType">
      </propertyValue>
   </extension>
   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <managedBuildRevision
            fileVersion="4.0.0">
      </managedBuildRevision>
      <targetPlatform
            archList="all"
            binaryParser="org.eclipse.cdt.core.ELF;org.eclipse.cdt.core.GNU_ELF;org.eclipse.cdt.core.MachO64;org.eclipse.cdt.core.PE;org.eclipse.cdt.core.Cygwin_PE"
            id="org.eclipse.cdt.cmake.targetPlatform"
            isAbstract="false"
            name="%targetPlatform.name"
            osList="all">
      </targetPlatform>
      <tool
            advancedInputCategory="false"
            command="cmake"
            id="org.eclipse.cdt.cmake.cmake"
            isAbstract="false"
            name="%Tool.cmake"
            natureFilter="both">
         <option
               id="org.eclipse.cdt.cmake.CMAKE_BUILD_TYPE"
               isAbstract="false"
               name="%option.name"
               resourceFilter="project"
               valueType="string">
         </option>
         <inputType
               id="org.eclipse.cdt.cmake.CMakeLists.txt"
               sourceContentType="org.eclipse.cdt.cmake.cmakelistfile"
               sources="CMakeLists.txt">
         </inputType>
      </tool>
      <projectType
            buildArtefactType="org.eclipse.cdt.cmake.buildArtefactType.cmake"
            id="org.eclipse.cdt.cmake.CMakeProject"
            isAbstract="false">
         <configuration
               buildArtefactType="org.eclipse.cdt.cmake.buildArtefactType.cmake"
               buildProperties="org.eclipse.cdt.cmake.buildType.default"
               id="org.eclipse.cdt.cmake.debug"
               name="%configuration.name">
            <toolChain
                  id="org.eclipse.cdt.cmake.toolChain.debug"
                  isAbstract="false"
                  name="%toolChain.name"
                  superClass="org.eclipse.cdt.cmake.toolchain.base">
               <supportedProperties>
                  <property
                        id="org.eclipse.cdt.build.core.buildArtefactType">
                     <value
                           id="org.eclipse.cdt.cmake.buildArtefactType.cmake">
                     </value>
                  </property>
               </supportedProperties>
            </toolChain>
         </configuration>
      </projectType>
      <toolChain
            id="org.eclipse.cdt.cmake.toolchain.base"
            isAbstract="false">
         <tool
               id="org.eclipse.cdt.cmake.gpp"
               isAbstract="false"
               name="%tool.name"
               superClass="cdt.managedbuild.tool.gnu.cpp.compiler">
         </tool>
         <tool
               id="org.eclipse.cdt.cmake.gcc"
               isAbstract="false"
               name="%tool.name.0"
               superClass="cdt.managedbuild.tool.gnu.c.compiler">
         </tool>
         <builder
               buildfileGenerator="org.eclipse.cdt.cmake.CMakeMakefileGenerator"
               commandLauncher="org.eclipse.cdt.cmake.CommandLauncherRC"
               id="org.eclipse.cdt.cmake.builder"
               isAbstract="false"
               isVariableCaseSensitive="false"
               name="%builder.name">
         </builder>
         <targetPlatform
               id="org.eclipse.cdt.cmake.targetPlatform1"
               isAbstract="false"
               superClass="org.eclipse.cdt.cmake.targetPlatform">
         </targetPlatform>
         <supportedProperties>
            <property
                  id="org.eclipse.cdt.build.core.buildArtefactType">
               <value
                     id="org.eclipse.cdt.cmake.buildArtefactType.cmake">
               </value>
            </property>
         </supportedProperties>
      </toolChain>
   </extension>
   <extension
         id="cmakeNature"
         name="%extension.name.0"
         point="org.eclipse.core.resources.natures">
      <requires-nature
            id="org.eclipse.cdt.managedbuilder.core.managedBuildNature">
      </requires-nature>
      <runtime>
         <run
               class="org.eclipse.cdt.cmake.CMakeProjectNature">
         </run>
      </runtime>
      <builder
            id="org.eclipse.cdt.cmake.CMakeProjectBuilder">
      </builder>
   </extension>
   <extension
         id="CMakeProjectBuilder"
         name="%extension.name.1"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true"
            isConfigurable="true">
         <run
               class="org.eclipse.cdt.cmake.CMakeProjectBuilderImpl">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.cdt.core.templateProcessTypes">
      <processType
            name="newCMakeProject"
            processRunner="org.eclipse.cdt.cmake.newCMakeProject">
         <simple
               name="projectName">
         </simple>
         <simple
               external="true"
               name="location"
               nullable="true">
         </simple>
         <simple
               external="true"
               name="isCProject"
               nullable="true">
         </simple>
      </processType>
   </extension>
   <extension
         name="%extension.name.2"
         point="org.eclipse.cdt.core.templates">
      <template
            id="org.eclipse.cdt.cmake.templates.EmptyProject"
            location="templates/EmptyProject/template.xml"
            projectType="org.eclipse.cdt.cmake.buildArtefactType.cmake">
      </template>
      <template
            id="org.eclipse.cdt.cmake.templates.ConsoleHelloWorld"
            location="templates/ConsoleHelloWorld/template.xml"
            projectType="org.eclipse.cdt.cmake.buildArtefactType.cmake">
      </template>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="org.eclipse.cdt.cmake.CMakeContentType"
            name="%CMakeContentType.name"
            priority="high">
      </content-type>
      <file-association
            content-type="org.eclipse.cdt.cmake.CMakeContentType"
            file-names="CMakeLists.txt">
      </file-association>
   </extension>
   <extension
         point="org.eclipse.core.variables.valueVariables">
      <variable
            description="%variable.description"
            initializerClass="org.eclipse.cdt.cmake.ui.TargetArchInitializer"
            name="CMake_TargetArch"
            readOnly="false"
            supportsArgument="true">
      </variable>
      <variable
            description="%variable.description.0"
            initializerClass="org.eclipse.cdt.cmake.ui.TargetDeviceInitializer"
            name="CMake_TargetDevice"
            readOnly="false"
            supportsArgument="true">
      </variable>
      <variable
            description="%variable.description.1"
            initializerClass="org.eclipse.cdt.cmake.ui.DestdirInitializer"
            name="CMake_DESTDIR"
            readOnly="false"
            supportsArgument="true">
      </variable>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
            class="org.eclipse.cdt.cmake.ui.CMakePreferencePage"
            id="org.eclipse.cdt.cmake.ui.PreferencePage"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.eclipse.cdt.managedbuilder.ui.properties.Page_head_build"
            class="org.eclipse.cdt.cmake.ui.CMakePropertyPage"
            id="org.eclipse.cdt.cmake.propertyPage1"
            name="%page.name.0">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.cdt.cmake.ui.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.cdt.core.CBuildConsole">
      <CBuildConsole
            class="org.eclipse.cdt.cmake.ui.CMakeConsole"
            id="org.eclipse.cdt.cmake.ui.CMakeConsole">
      </CBuildConsole>
   </extension>
   <extension
         point="org.eclipse.core.variables.dynamicVariables">
      <variable
            description="%variable.description.2"
            name="org.eclipse.cdt.cmake.var.projectPath"
            resolver="org.eclipse.cdt.cmake.var.ProjectPathResolver"
            supportsArgument="true">
      </variable>
      <variable
            description="%variable.description.3"
            name="org.eclipse.cdt.cmake.var.toolchainFile"
            resolver="org.eclipse.cdt.cmake.var.ToolchainFileResolver"
            supportsArgument="true">
      </variable>
   </extension>
   <extension
         point="org.eclipse.cdt.core.LanguageSettingsProvider">
      <provider
            class="org.eclipse.cdt.cmake.langset.CMakeLangSetProvider"
            id="org.eclipse.cdt.cmake.lang_set"
            name="CMake language settings provider"
            prefer-non-shared="false">
      </provider>
   </extension>

</plugin>
